@model QuizFilosofico.Models.Jogador

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Jogador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            @{if (Context.Session.GetString("ADMINISTRADOR") == "SIM")
            {
               <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Administrador" /> @Html.DisplayNameFor(model => model.Administrador)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>   
            }
            else
                {
                   <div class="form-group form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Administrador" value="false" readonly /> @Html.DisplayNameFor(model => model.Administrador)
                    </label>
                    </div>
                    <div class="form-group form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" value="true" readonly /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
</div>
                }
            }
            <br/>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Voltar</a>
</div
@*<div>
    <a asp-action="Index">Voltar a Lista de Jogadores</a>
</div>*@

