<style>
    .btn-spinner {
        position: relative;
    }

    .btn-spinner .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.5rem;
        height: 1.5rem;
        border: 0.25rem solid rgba(0, 0, 0, 0.2);
        border-top-color: #000;
        border-radius: 50%;
        animation: spin 0.75s linear infinite;
        visibility: hidden;
    }

    .btn-spinner.loading .spinner {
        visibility: visible;
    }

   .spin-animation {
        animation: spin 2s infinite;
    }

</style>
<script>

        var btnSubmit = document.getElementById('btnSubmit');
    var btnText = document.getElementById('btnText');
    var btnSpinner = document.getElementById('btnSpinner');

    btnSubmit.addEventListener('click', function () {
        btnText.classList.add('d-none');
        btnSpinner.classList.remove('d-none');
        btnSubmit.disabled = true;
    });

</script>

<div class="containerIndex">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h5 style="color: green; font-family: Arial; text-shadow: 2px 2px 5px white;"><a class="nav-link text-dark" asp-area="" asp-controller="Quiz" asp-action="Quizz">Quiz Filosófico</a></h5>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Quiz1.jfif" class="d-block w-100 carousel-image" alt="Quizz Filosófico">
                        <div class="carousel-caption d-none d-md-block">
                            <h7>Quizz Filosófico</h7>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagens/01-Liberdade.jpeg" class="d-block w-100 carousel-image" alt="Questão da liberdade individual versus o bem comum">
                        <div class="carousel-caption d-none d-md-block">
                            <h7>Liberdade individual</h7>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagens/03-Desigualdade.jpeg" class="d-block w-100 carousel-image" alt="Desigualdade Econômica em uma Comunidade">
                        <div class="carousel-caption d-none d-md-block">
                            <h7>Desigualdade Econômica</h7>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Quiz2.jfif" class="d-block w-100 carousel-image" alt="Quizz Filosófico">
                        <div class="carousel-caption d-none d-md-block">
                            <h7>Quizz Filosófico</h7>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagens/02-LivreArbitrio.jpeg" class="d-block w-100 carousel-image" alt="Desigualdade Econômica em uma Comunidade">
                        <div class="carousel-caption d-none d-md-block">
                            <h7>Livre Arbítrio</h7>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Imagens/Cenario4,.png" class="d-block w-100 carousel-image" alt="Desigualdade Econômica em uma Comunidade">
                        <div class="carousel-caption d-none d-md-block">
                            <mark><h7>Identidade e Propósito</h7></mark>
                        </div>
                    </div>
                    
                </div>
                <br/>
                <div>
                   
                    @*
                        <button type="button" class="btn btn-primary btn-lg btn-spinner" id="myButton" onclick="showSpinner()">
                         <a class="text-dark text-decoration-none" asp-area="" asp-controller="Quiz" asp-action="Quizz">Jogar</a>
                        </button>
                    *@
                    <button id="btnSubmit" type="submit" class="btn btn-primary btn-lg" data-bs-toggle="popover" title="Jogar o Quiz" data-bs-content="Jogar" style="animation: glow 2s infinite;" asp-controller="Quiz" asp-action="Quizz">
                        <span id="btnText"><a class="text-dark text-decoration-none" asp-area="" asp-controller="Quiz" asp-action="Quizz">Jogar</a></span>
                        <span id="btnSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-text">
                <h2>Bem-vindo à nossa aplicação de filosofia!</h2>
                <p>
                    Com o nosso jogo de estratégia filosófica, você pode aplicar princípios filosóficos em situações cotidianas, como resolver conflitos e tomar decisões difíceis.
                </p>
                <p>
                    E com nosso quiz de filosofia, você pode testar seus conhecimentos em diversas áreas da filosofia, com perguntas de múltipla escolha e questões abertas.
                </p>
                <p>Aproveite nossa aplicação para expandir seus horizontes filosóficos e desafiar seu pensamento crítico. <br /><a style="" asp-area="" asp-controller="Jogadores" asp-action="Create">Cadastre-se agora para começar a jogar!</a></p>
            </div>
        </div>
    </div>
</div>
<hr />
    








