
@*<form method="post">
    <img class="mb-4" src="~/Imagens/banner-Loggin1.jpeg" alt="CaosFilosofico" width="780" height="200">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <br />
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-primary" type="submit">LOGAR</button>
    <br/><hr/>
   
</form>*@
<form method="post">
    <img class="mb-4" src="~/Imagens/banner-Loggin1.jpeg" alt="CaosFilosofico" width="780" height="200">
    <h1 class="h3 mb-3 fw-normal">Faça o login</h1>

    <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Endereço de email</label>
    </div>
    <br />
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Senha">
        <label for="floatingPassword">Senha</label>
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-primary" type="submit">ENTRAR</button>
    <br />
    <hr />

</form>
<div>
    <span><a class="w-100 btn btn-lg btn-primary" asp-area="" asp-controller="Jogadores" asp-action="Create">CADASTRAR</a></span>
</div>

