<div class="container">
    <div class="text-center">
        <img src="~/Outros/Teste_Com_AI/Imagens/Filosofos-LAerte/Decartes.jpeg" alt="Sua Foto" class="img-fluid profile-image" width="30%">
        <h1>Rômulo Sherman </h1>
    </div>
        <h4> Nº 14</h4><span> IEFP - Programador Informático 0122</span>
    <h2>Referências</h2>
    <ul>
        <li><a href="https://docs.microsoft.com/aspnet/core/">Microsoft Documentation - ASP.NET Core</a></li>
        <li><a href="https://github.com/dotnet/aspnetcore">ASP.NET Core GitHub Repository</a></li>
        <li><a href="https://docs.microsoft.com/aspnet/core/tutorials/">ASP.NET Core Tutorials</a></li>
        <li><a href="https://github.com/dotnet/aspnetcore/tree/main/samples">ASP.NET Core Samples</a></li>
        <li><a href="https://forums.asp.net/">ASP.NET Core Forums</a></li>
        <li><a href="https://stackoverflow.com/questions/tagged/asp.net-core">ASP.NET Core Stack Overflow</a></li>
        <!-- Outras referências relacionadas ao ASP.NET Core -->
    </ul>
</div>