<div class="container">
    <h1>Bem-vindo ao Quiz Filosófico!</h1>
    <p>
        Aqui você pode testar seus conhecimentos filosóficos, aprimorar
        suas habilidades de raciocínio e explorar diferentes perspectivas
        sobre questões éticas e morais.
    </p>
    <p>Aqui estão as regras do jogo:</p>
    <ul>
        <li>Responda às perguntas corretamente para acumular pontos.</li>
        <li>Cada pergunta tem um valor de pontuação.</li>
        <li>O tempo para responder é limitado, então seja rápido!</li>
    </ul>

    <h2>Conheça os Níveis</h2>
    <p>Desafie-se com diferentes níveis de dificuldade e acumule mais pontos!</p>

    <div class="row">
        <div class="col-md-4">
            <div class="level-card">
                <h3>Nível Fácil</h3>
                <p>Cada pergunta vale 1 ponto</p>
                <img src="~/Outros/Teste_Com_AI/Imagens/Level1.jpeg" alt="Nivel1" class="img-fluid trophy-image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="level-card">
                <h3>Nível Médio</h3>
                <p>Cada pergunta vale 2 pontos</p>
                <img src="~/Outros/Teste_Com_AI/Imagens/Level2.jpeg" alt="Nivel2" class="img-fluid trophy-image">
            </div>
        </div>
        <div class="col-md-4">
            <div class="level-card">
                <h3>Nível Difícil</h3>
                <p>Cada pergunta vale 3 pontos</p>
                <img src="~/Outros/Teste_Com_AI/Imagens/Level3.jpeg" alt="Nivel3" class="img-fluid trophy-image">
            </div>
        </div>
    </div>


    <div class="mt-4">
        <h3>Imagens de Resultado</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="result-image-card">
                    <img src="~/Outros/Teste_Com_AI/Imagens/Win1.jpeg" alt="Imagem do Resultado 1" class="img-fluid result-image">
                    <p class="text-center">Selo para 1 questão certa</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="result-image-card">
                    <img src="~/Outros/Teste_Com_AI/Imagens/Win2.jpeg" alt="Imagem do Resultado 2" class="img-fluid result-image">
                    <p class="text-center">Selo para 2 questões certas</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="result-image-card">
                    <img src="~/Outros/Teste_Com_AI/Imagens/Win3.jpeg" alt="Imagem do Resultado 3" class="img-fluid result-image">
                    <p class="text-center">Selo para 3 questões certas</p>
                </div>
            </div>
        </div>
    </div>
    <span>
        <a href="@Url.Action("Index", "Apoio")" class="btn btn-primary">Voltar</a>
    </span>
</div>
